.bender__content {
  padding-top: 40px;
  padding-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.bender__img-block {
  position: relative;
}

.bender__img {
  width: 529px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.bender__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.bender__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.bender__grid {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bender__grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid var(--grey-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bender__grid-row:last-child {
  border-bottom: none;
}

.bender__grid-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.bender__grid-row:first-child .bender__grid-item {
  padding-top: 0;
}

.bender__grid-row:last-child .bender__grid-item {
  padding-bottom: 0;
}

.bender__grid-item:nth-child(odd) {
  opacity: 70%;
  width: 43%;
}

.bender__grid-item:nth-child(even) {
  padding-left: 16px;
  border-left: 2px solid var(--grey-color);
  width: 57%;
}

.bender__grid-item_strike {
  position: relative;
  margin-right: 10px;
}

.bender__grid-item_strike::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  border-bottom: 2px solid var(--red-color);
}

.bender__questions {
  color: var(--blue-color);
}

@media screen and (max-width: 1365px) {
  .bender__content {
    padding-top: 60px;
  }

  .bender__info-block {
    gap: 44px;
  }

  .bender__info {
    gap: 40px;
  }

  .bender__grid-row {
    gap: 12px;
    padding: 15px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bender__grid-row:first-child {
    padding-top: 0;
  }

  .bender__grid-row:last-child {
    padding-bottom: 0;
  }

  .bender__grid-item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
  }

  .bender__grid-item:nth-child(odd),
  .bender__grid-item:nth-child(even) {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-left: 0;
    border-left: 0;
  }
}

@media screen and (max-width: 1120px) {
  .bender__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    padding-left: 72px;
  }

  .bender__img {
    width: 100%;
    max-width: 529px;
  }
}

@media screen and (max-width: 870px) {
  .bender__info-block {
    max-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .bender__content {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
  }

  .bender__info-block {
    padding: 0 20px;
  }

  .bender__questions {
    font-size: 18px;
  }
}