.members__content {
  padding-top: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 -webkit-max-content;
  -ms-grid-columns: 1fr 0 max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 55px 0;
  padding-bottom: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.members__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.members__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.members__counter-number {
  margin: 0;
  font-size: 16px;
  line-height: 120%;
}

.members__counter-number_line, 
.members__counter-number_total {
  opacity: 60%;
}

.members__slider {
  grid-column: 1 / -1;
  width: 100%;
  overflow-x: hidden;
}

.members__grid {
  min-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .members__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .members__heading {
    justify-self: flex-start;
  }

  .members__navigation {
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .members__grid {
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .members__content {
    gap: 40px 0;
    padding-top: 120px;
    padding-bottom: 100px;
  }

  .members__navigation {
    gap: 12px;
  }
}