.lecture {
  padding-top: 80px;
}

.lecture__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.lecture__image-span {
  display: none;
  padding: 22px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.lecture__inline-image {
  width: 100%;
}

.lecture__right-image {
  width: 394px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .lecture__content {
    gap: 40px;
  }

  .lecture__right-image {
    width: 360px;
  }
}

@media screen and (max-width: 870px) {
  .lecture__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .lecture__text {
    width: 100%;
    max-width: 450px;
  }

  .lecture__right-image {
    display: none;
  }

  .lecture__image-span {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .lecture {
    padding-top: 48px;
  }
}