.footer {
  background-color: var(--beige-color);
}

.footer__content {
  padding-top: 40px;
  padding-bottom: 72px;
}

.footer__info {
  margin: 0;
  max-width: 100%;
  font-size: 16px;
  line-height: 120%;
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .footer__content {
    padding-bottom: 60px;
  }
}