.stages__content {
  padding-top: 175px;
}

.stages__heading {
  width: 100%;
  max-width: 800px;
}

.stages__heading_span {
  font-family: 'Golos', sans-serif;
  display: inline-block;
  text-transform: none;
  max-width: 280px;
  color: var(--blue-color);
  padding-left: 5px;
}

.stages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 54px;
}

.stages__grid-block {
  width: 100%;
  position: relative;
}

.stages__slider {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.stages__grid {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 20px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.stages__item {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  background-image: url(../../../images/paper-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500%;
}

.stages__item_high {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.stages__item_wide {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding-right: 290px;
}

.stages__item-number {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: 50%;
}

.stages__navigation {
  display: none;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages__pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.stages__pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--grey-color);
}

.stages__pagination-item.active {
  background-color: var(--black-color);
}

.stages__plane {
  position: absolute;
  bottom: 1px;
  right: -62px;
}

@media screen and (max-width: 1365px) {
  .stages__item_wide {
    padding-right: 330px;
  }
}

@media screen and (max-width: 1200px) {
  .stages__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stages__item_high {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .stages__item_medium {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
  }

  .stages__item_wide {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media screen and (max-width: 1000px) {
  .stages__content {
    gap: 145px;
    padding-top: 120px;
  }

  .stages__heading_span,
  .stages__item-text {
    font-size: 18px;
  }

  .stages__heading_span {
    width: 100%;
    max-width: 335px;
  }
  
  .stages__grid {
    -ms-grid-columns: calc((100% - 40px) / 2) 40px calc((100% - 40px) / 2) 40px calc((100% - 40px) / 2) 40px calc((100% - 40px) / 2) 40px calc((100% - 40px) / 2);
    grid-template-columns: repeat(5, calc((100% - 40px) / 2));
    -ms-grid-rows: -webkit-max-content 0 -webkit-max-content;
    -ms-grid-rows: max-content 0 max-content;
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 0 40px;
  }
  
  .stages__item {
    padding: 62px 20px 32px;
  }

  .stages__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    padding-top: 0;
  }

  .stages__item:nth-child(5) {
    padding-top: 0;
  }

  .stages__item_high {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  .stages__item_medium {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  .stages__item_wide {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }

  .stages__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .stages__plane {
    width: 340px;
    bottom: auto;
    right: -12px;
    top: -130px;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@media screen and (max-width: 860px) {
  .stages__grid {
    grid-template-columns: repeat(5, 100%);
  }
}

@media screen and (max-width: 767px) {
  .stages__heading {
    max-width: 500px;
  }

  .stages__heading_span {
    padding-top: 12px;
    padding-left: 0;
  }
}