@-webkit-keyframes movement {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 12px));
            transform: translateX(calc(-100% - 12px));
  }
}

@keyframes movement {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 12px));
            transform: translateX(calc(-100% - 12px));
  }
}

.marquee {
  padding: 18px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--red-color);
}

.marquee__wrap {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  gap: 12px;
}

.marquee__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 12px;
  -webkit-animation: movement 30s linear infinite;
          animation: movement 30s linear infinite;
}

.marquee__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.marquee__item_text {
  font-family: 'Merriweather', serif;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--white-color);
}

.marquee__item_ellipse {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .marquee {
    padding: 10px 0;
  }

  .marquee__item_text {
    font-size: 16px;
  }
}