@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.cover {
  background-color: var(--beige-color);
  overflow: hidden;
  position: relative;
}

.cover__background {
  width: 100%;
  height: 100%;
  background-image: url(../../../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.cover__content {
  padding-top: 124px;
  padding-bottom: 128px;
  min-height: 700px;
  position: relative;
  display: flex;
}

.cover__sun {
  width: 660px;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 84px;
  right: 33px;
}

.cover__city {
  width: 1627px;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: calc(50% - 804px);
  z-index: 3;
}

.cover__chess {
  height: auto;
  object-fit: contain;
  position: absolute;
}

.cover__chess_pawn {
  width: 84px;
  bottom: 20px;
  right: 45px;
  z-index: 4;
  animation: scaleAnimation 3s infinite alternate ease-in-out;
}

.cover__chess_knight {
  width: 197px;
  bottom: -51px;
  right: 334px;
  z-index: 4;
  animation: scaleAnimation 3s infinite alternate ease-in-out;
}

.cover__chess_queen {
  width: 146px;
  bottom: 270px;
  right: 159px;
  animation: rotateAnimation 2s infinite alternate ease-in-out;
}

.cover__chess_king {
  width: 130px;
  bottom: 164px;
  right: 507px;
  animation: rotateAnimation 2s infinite alternate ease-in-out;
}

.cover__info-block {
  max-width: 545px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 10;
}

.cover__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cover__heading-block {
  display: flex;
  flex-direction: column;
}

.cover__heading {
  width: 100%;
  margin: 0;
}

.cover__heading_center {
  display: block;
  text-align: center;
}

.cover__heading_right {
  display: block;
  text-align: right;
}

.cover__info-text {
  margin: 0;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
}

.cover__navigation {
  display: flex;
  gap: 16px;
}

.cover__nav-button {
  width: calc(50% - 8px);
}

@media screen and (max-width: 1365px) {
  .cover__content {
    min-height: 1000px;
  }

  .cover__city {
    left: auto;
    right: -140px;
  }
}

@media screen and (max-width: 1000px) {
  .cover__sun {
    width: 480px;
    right: 100px;
  }

  .cover__city {
    width: 1257px;
    right: -109px;
  }

  .cover__chess_pawn {
    display: none;
  }

  .cover__chess_knight {
    width: 147px;
    right: 240px;
    bottom: -30px;
  }

  .cover__chess_queen {
    width: 103px;
    transform: rotate(8deg);
    right: 150px;
    bottom: 225px;
  }

  .cover__chess_king {
    width: 95px;
    right: 400px;
    bottom: 155px;
  }

  .cover__info-block {
    max-width: 437px;
    gap: 32px;
  }

  .cover__info-text {
    text-align: left;
  }

  .cover__navigation {
    flex-direction: column;
  }

  .cover__nav-button {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cover__content {
    padding-top: 90px;
    min-height: 774px;
    justify-content: center;
  }

  .cover__sun {
    width: 297px;
    right: 47px;
    bottom: 67px;
  }

  .cover__city {
    width: 886px;
  }

  .cover__chess_knight {
    width: 96px;
    right: 131px;
    bottom: -20px;
  }

  .cover__chess_queen {
    width: 62px;
    right: 85px;
    bottom: 160px;
  }

  .cover__chess_king {
    width: 62px;
    right: 252px;
    bottom: 110px;
  }

  .cover__info-block {
    width: 100%;
    max-width: 335px;
  }
}