.member {
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 37px;
  box-sizing: border-box;
}

.member__image {
  width: 100%;
  max-width: 320px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.member__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.member__text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.member__name {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}

.member__rank {
  text-align: center;
  opacity: 60%;
}

.member__link {
  text-decoration: none;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: var(--blue-color);
  background-color: transparent;
  width: max-content;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 1px solid var(--blue-color);
  border-radius: 62px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (hover: hover) {
  .member__link:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
  }
}


@media screen and (max-width: 1000px) {
  .member {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .member {
    width: 100%;
    padding: 0 24px;
    gap: 22px;
  }

  .member__image {
    max-width: 244px;
  }
}